.git
.github
.gitignore
.venv
**/.venv
**/data
**/outputs
**/*.pt
**/*.pth
**/*.ckpt
**/__pycache__
**/*.pyc
**/*.pyo
.pytest_cache
**/.pytest_cache
.ruff_cache
.env
**/.env
kaggle.json
**/kaggle.json
access_token
**/access_token
tokens
**/tokens
tests
